{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "iam:PutRolePolicy",
                "iam:AttachRolePolicy",
                "iam:DetachRolePolicy",
                "iam:DeleteRolePolicy",
                "iam:CreateRole",
                "iam:DeleteRole",
                "iam:TagRole"
            ],
            "Resource": "*"
        },
        {
                "Sid": "AllowAPIInvocation",
                "Effect": "Allow",
                "Action": [
                    "apigateway:*",
                    "execute-api:invoke"
                ],
                "Resource": [
                    "arn:aws:apigateway:${aws_region}::/apis/${api_deployment_id}/deployments",
                    "arn:aws:apigateway:${aws_region}::*",
                    "*"
                ]
        }
    ]
}
