groups:
- name: ssh_bastion_hosts
  targets:
%{ for index, ip_address in ssh_bastion_host_a_ip ~}
    - uri: ${ip_address}
      name: ${ssh_bastion_host_a_name[index]}
%{ endfor ~}
%{ for index, ip_address in ssh_bastion_host_b_ip ~}
    - uri: ${ip_address}
      name: ${ssh_bastion_host_b_name[index]}
%{ endfor ~}
  config:
    transport: ssh
    ssh:
      user: ec2-user
      run-as: root
      run-as-command:
        - sudo
        - "-nkSEu"
      private-key: .ec2-aws-key
      host-key-check: false
      load-config: false
      native-ssh: true
