# Editing the service file:
# > sudo vim /etc/systemd/system/nexus-storage.service
#
# Running the service:
# > sudo systemctl daemon-reload
# > sudo systemctl start nexus-storage
# > sudo systemctl enable nexus-storage
#
# Checking logs:
# > sudo systemctl status nexus-storage
# > sudo journalctl -u nexus-storage
#
# Restarting
# > sudo systemctl restart nexus-storage

# Creating the image:
# > sudo singularity pull nexus-storage_latest.sif docker://bluebrain/nexus-storage:latest
#
# permission-fixer build command
# > NEXUS_PATH_PREFIX=/sbo/data NEXUS_USER_ID=12345 NEXUS_GROUP_ID=67890 cargo build --release

[Unit]
Description=Nexus Storage
After=network.target

[Service]
Type=simple
Restart=always
User=root
Group=root
WorkingDirectory=/root

Environment="NEXUS_SIF=/sbo/data/containers/nexus-storage.sif"
Environment="NEXUS_LATEST_SIF=/sbo/data/containers/nexus-storage-latest.sif"
Environment="SINGULARITYENV_STORAGE_CONFIG_FILE=/sbo/data/scratch/grabinsk/storage.conf"
ExecStartPre=/usr/bin/bash -c 'if [ -f ${NEXUS_LATEST_SIF} ]; then mv ${NEXUS_LATEST_SIF} ${NEXUS_SIF}; fi'
ExecStart=/usr/bin/singularity run --bind /sbo/data ${NEXUS_SIF} \
  -Dapp.instance.interface="0.0.0.0" \
  -Dakka.http.server.parsing.max-content-length="100g" \
  -Dakka.http.client.parsing.max-content-length="100g" \
  -Dakka.http.server.request-timeout="5 minutes"
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin

[Install]
WantedBy=multi-user.target