# Editing the service file:
# > sudo vim /etc/systemd/system/nexus-storage.service
#
# Running the service:
# > sudo systemctl daemon-reload
# > sudo systemctl start nexus-storage
# > sudo systemctl enable nexus-storage
#
# Checking logs:
# > sudo systemctl status nexus-storage
# > sudo journalctl -u nexus-storage
#
# Restarting
# > sudo systemctl restart nexus-storage

# Creating the image:
# > sudo singularity pull nexus-storage_latest.sif docker://bluebrain/nexus-storage:latest
#
# permission-fixer build command
# > NEXUS_PATH_PREFIX=/sbo/data NEXUS_USER_ID=12345 NEXUS_GROUP_ID=67890 cargo build --release

[Unit]
Description=Nexus Storage
After=network.target

[Service]
Type=simple
Restart=always
User=root
Group=root
WorkingDirectory=/sbo/home/grabinsk

ExecStart=/usr/bin/singularity run --bind /sbo/data /sbo/data/containers/nexus-storage.sif \
  -Dapp.instance.interface="0.0.0.0" \
  -Dapp.http.port="8081" \
  -Dapp.subject.anonymous="false" \
  -Dapp.subject.realm="SBO" \
  -Dapp.subject.name="service-account-nexus-delta" \
  -Dapp.storage.root-volume="/sbo/data/project/" \
  -Dapp.storage.protected-directory="nexus" \
  -Dapp.storage.extra-prefixes.1="/sbo/data/scratch" \
  -Dapp.storage.fixer-enabled="true" \
  -Dapp.storage.fixer-command.1="/sbo/data/project/nexus-fixer" \
  -Dakka.http.server.parsing.max-content-length="100g" \
  -Dakka.http.client.parsing.max-content-length="100g" \
  -Dakka.http.server.request-timeout="5 minutes" \
  -Dapp.delta.public-iri="https://sbo-nexus-delta.shapes-registry.org/" \
  -Dapp.delta.internal-iri="https://sbo-nexus-delta.shapes-registry.org/"
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin

[Install]
WantedBy=multi-user.target