{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowLogsExportGetBucketAcl",
            "Effect": "Allow",
            "Principal": {
                "Service": "logs.us-east-1.amazonaws.com"
            },
            "Action": "s3:GetBucketAcl",
            "Resource": "arn:aws:s3:::${bucket_name}"
        },
        {
            "Sid": "AllowLogsExportPutObject",
            "Effect": "Allow",
            "Principal": {
                "Service": "logs.us-east-1.amazonaws.com"
            },
            "Action": "s3:PutObject",
            "Resource": "arn:aws:s3:::${bucket_name}/logs/*"
        },
        {
            "Sid": "AllowRpmsGetObject",
            "Effect": "Allow",
            "Principal": {
                "Service": "imagebuilder.amazonaws.com"
            },
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::${bucket_name}/rpms/*"
        },
        {
            "Sid": "AllowScriptsGetObject",
            "Effect": "Allow",
            "Principal": {
                "Service": "imagebuilder.amazonaws.com"
            },
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::${bucket_name}/scripts/*"
        },
        {
            "Sid": "AllowEc2GetObject",
            "Effect": "Allow",
            "Principal": {
                "Service": "ec2.amazonaws.com"
            },
            "Action": "s3:*",
            "Resource": "arn:aws:s3:::${bucket_name}/scripts/*"
        },
        {
            "Sid": "AllowGHActions",
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "arn:aws:iam::${account_id}:role/GithubMachineImages"
                ]
            },
            "Action": [
                "s3:PutObjectAcl",
                "s3:PutObject",
                "s3:ListBucket",
                "s3:GetObject"
            ],
            "Resource": [
                "arn:aws:s3:::${bucket_name}/*",
                "arn:aws:s3:::${bucket_name}"
            ]
        },
        {
            "Sid": "AllowFSX",
            "Effect": "Allow",
            "Principal": {
                "Service": "fsx.amazonaws.com"
            },
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::${bucket_name}/*",
                "arn:aws:s3:::${bucket_name}"
            ]
        }
    ]
}
