Content-Type: multipart/mixed; boundary="==BOUNDARY=="
MIME-Version: 1.0

--==BOUNDARY==
Content-Type: text/cloud-config; charset="us-ascii"

#cloud-config

users:
    - name: obiuser
      uid: 4000
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBCRTRSpJMLRRk0GuIcQ/OU5fGwgX0YhIMsy/sSgdzQc
      shell: /bin/bash

packages:
  - lustre-client

runcmd:
  - echo "========== Setting up FSX mount =========="
  - mkdir -p /scratch
  - grep -q "${fsx_dns_name}" /etc/fstab || echo "${fsx_dns_name}@tcp:/${fsx_mount_name} /scratch lustre defaults,_netdev 0 0" >> /etc/fstab
  - mount /scratch
  - mkdir -p /data/aws_s3_open
  - mkdir -p /data/aws_s3_internal
  - mount -t efs -o tls,accesspoint=${opendata_access_point_id} ${publicdata_efs_id}:/ /data/aws_s3_open
  - mount -t efs -o tls,accesspoint=${publicdata_access_point_id} ${publicdata_efs_id}:/ /data/aws_s3_internal

--==BOUNDARY==--
