awscli==1.44.38
bluecellulab==2.6.68
bluepyefe==2.3.50
bluepyemodel==1.0.37
bluepyopt==1.14.18
bluepysnap==3.0.2
connectome-manipulator==1.0.3
Connectome-Utilities==0.4.11
currentscape==1.0.20
efel==5.7.19
entitysdk==0.7.9
h5py==3.14.0
LFPy==2.3.5
matplotlib==3.10.6
nbformat==5.10.4
neurom==4.0.4
NEURON==8.2.7
numpy==1.26.4
obi-auth==0.3.0
obi-notebook==0.2.dev0
obi-one==2025.8.3
pandas==2.3.2
plotly==6.3.0
rich==14.1.0
scipy==1.16.1
seaborn==0.13.2
TMD==2.4.3
umap-learn==0.5.8
uuid==1.30
