awscli==1.41.0
bluecellulab==2.6.62
bluepyefe==2.3.45
bluepyemodel==1.0.36
bluepyopt==1.14.18
bluepysnap==3.0.2
connectome-manipulator==1.0.3
Connectome-Utilities==0.4.11
currentscape==1.0.20
efel==5.7.17
entitysdk==0.7.3
h5py==3.14.0
LFPy==2.3.5
matplotlib==3.10.3
nbformat==5.10.4
neurom==4.0.4
NEURON==8.2.7
numpy==1.26.4
obi-auth==0.3.0
obi-one==2025.7.4
pandas==2.3.0
plotly==6.2.0
rich==14.0.0
scipy==1.14.1
seaborn==0.13.2
TMD==2.4.3
umap-learn==0.5.8
uuid==1.30
